<footer>
  <div class="background">
    <img src="assets/images/backgroundConcreteLong.jpg" alt="" />
  </div>
  <div class="left-side">
    <a href="https://www.n20.pl/" target="_blank">
      <img src="assets/icons/n20logo.png" alt="" />
    </a>
    <a href="https://www.n20.pl/" target="_blank">
      <img src="assets/logo.png" alt="" class="logo" />
    </a>
  </div>
  <div class="right-side">
    <div class="links">
      <a
        class="link"
        href="https://www.facebook.com/N20RealEstate"
        target="_blank"
        ><img src="assets/icons/facebookLogo.png" alt=""
      /></a>
      <a
        class="link"
        href="https://www.instagram.com/n20_nieruchomosci?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank"
        ><img src="assets/icons/instagramLogo.png" alt=""
      /></a>
    </div>
    <div class="additional">
      <a href="https://www.n20.pl/polityka-prywatnosci" target="_blank"
        >Polityka Prywatności</a
      >
    </div>
  </div>
</footer>
