<div class="home-container">
  <img
    src="assets/images/background_image.png"
    alt="Grabowki tło"
    class="center-image"
    data-aos="fade-in"
    data-aos-duration="3000"
  />
  <div
    class="logo-image"
    data-aos="zoom-out"
    data-aos-delay="500"
    data-aos-duration="1000"
  >
    <span class="logo-text">Osiedle Grabówki</span>
  </div>

  <hr data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1500" />

  <div
    class="button-container"
    data-aos="zoom-in"
    data-aos-delay="1500"
    data-aos-duration="1000"
  >
    <button class="action-button" (click)="scrollToElement('houses')">
      <i class="fa-solid fa-house"></i>
      Zobacz Domy
    </button>
    <button class="action-button" (click)="scrollToElement('contact')">
      <i class="fa-solid fa-envelope"></i>
      Kontakt
    </button>
  </div>
</div>
