@import "../../styles.scss";

.home-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  .logo-text {
    font-size: 6rem;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.5);
  }

  hr {
    width: 40%;
    border: solid 2px white !important;
    z-index: 1;
    margin-bottom: 50px;
  }

  .center-image {
    top: -40px;
    position: absolute;
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .logo-image {
    z-index: 1;
    margin-bottom: 30px;

    img {
      width: 100px;
      filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
    }
  }

  .headline {
    font-size: 8rem;
    margin: 10px 0;
    color: #ffffff;
    text-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
    z-index: 1;
  }

  .subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
    z-index: 1;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .action-button {
      background-color: #766153;
      border: 0 solid #e2e8f0;
      border-radius: 1.5rem;
      box-sizing: border-box;
      color: #eff1ed;
      cursor: pointer;
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1;
      padding: 1rem 1.6rem;
      text-align: center;
      text-decoration: none #0d172a solid;
      text-decoration-thickness: auto;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      z-index: 1;

      &:hover {
        background-color: #bcbd8b;
        color: #373d20;
        transform: scale(1.05);
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
      }
    }
  }
}

@media (max-width: 1536px) {
  .home-container {
    .center-image {
      top: -40px;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 1280px) {
  .logo-text {
    font-size: 4rem !important;
  }
}

@media (max-width: 1024px) {
  .home-container {
    // background-size: auto 110%;
    background-position: 50% center;

    .logo-image {
      img {
        width: 500px;
      }
    }
    .headline {
      font-size: 6rem;
    }
    .subtitle {
      font-size: 1.5rem;
    }
    .button-container {
      flex-direction: column;
      .action-button {
        font-size: 1.8rem;
        padding: 1.2rem 1rem;

        &:hover {
          background-color: #fff;
          color: #0d172a;
          transform: scale(1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home-container {
    .logo-image img {
      width: 400px;
    }
    .headline {
      font-size: 4rem;
    }
    .subtitle {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 480px) {
  .home-container {
    .logo-image img {
      width: 250px;
    }
    .headline {
      font-size: 3rem;
    }
    .subtitle {
      font-size: 1rem;
    }
  }
}
