@import "../../styles.scss";

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background-color: #555;
  color: #fff;

  div {
    p {
      color: #aaa;
      text-align: right;
      padding: 2px;
    }
  }
}
