@import "../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 20px;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    vertical-align: middle;

    .item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 60vw;
        height: 100%;
        height: auto;
      }

      .text-container {
        width: 80%;
        text-align: left;

        h2 {
          font-size: 2.5rem;
          color: #373d20;
        }
        p {
          color: #333;
          margin-top: 20px;
          font-size: 1.3rem;
          line-height: 120%;
        }
        .action-button {
          background-color: #766153;
          border: 0 solid #e2e8f0;
          border-radius: 1.5rem;
          box-sizing: border-box;
          color: #eff1ed;
          cursor: pointer;
          display: inline-block;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1;
          padding: 1rem 1.6rem;
          margin-top: 20px;
          text-align: center;
          text-decoration: none #0d172a solid;
          text-decoration-thickness: auto;
          transform: scale(1);
          transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          z-index: 1;

          &:hover {
            background-color: #bcbd8b;
            color: #373d20;
            transform: scale(1.05);
            box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }

  .item1 {
    flex: 6;
    position: relative;

    img {
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
      border-radius: 0 5px 5px 0;
    }

    .nightMode {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      filter: brightness(70%);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .nightMode.active {
      opacity: 1;
    }

    .image-button {
      position: absolute;
      bottom: 10px;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      width: 100px;
      opacity: 0.8;
      height: auto;
      transform: scale(1);
      transition: all 0.3s;

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }

      img {
        position: absolute;
        bottom: 100%;
        box-shadow: none !important;
        filter: drop-shadow(2px 2px 2px rgba($color: #000000, $alpha: 0.5));
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .night-button {
      opacity: 0;
      transition: all 0.3s;
    }
    .night-button.active {
      opacity: 1;
    }
  }

  .item2 {
    flex: 4;
  }

  .item3 {
    flex: 4;
  }

  .item4 {
    flex: 6;

    img {
      box-shadow: -5px 5px 5px rgba($color: #000000, $alpha: 0.5);
      border-radius: 5px 0 0 5px;
    }
  }
}

@media (max-width: 1280px) {
  .container {
    overflow: hidden !important;

    .row {
      flex-direction: column;

      .item {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

        img {
          width: 100%;
          border-radius: 0;
          box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5) !important;
        }

        .text-container {
          width: 90%;
          text-align: center;

          h2 {
            text-align: left;
            font-size: 1.7rem;
          }

          p {
            text-align: left;
            font-size: 1.3rem;
          }

          .action-button {
            display: none;
          }
        }

        .image-button {
          bottom: 10px !important;
          right: 10px !important;
          width: 150px !important;
          opacity: 0.2 !important;

          &:hover {
            opacity: 0.2 !important;
            transform: scale(1);
          }

          .night-button {
            box-shadow: none !important;
          }
        }
      }
    }

    .item1,
    .item2,
    .item3,
    .item4 {
      flex: 1;
    }
  }
}
