<div class="main-container">
  <h2 class="title">Profity</h2>
  <div class="left-side">
    <div class="image-container" data-aos="fade-right" data-aos-duration="2000">
      <img src="assets/images/image4.png" alt="" style="opacity: 1" />
    </div>
    <div class="list-container">
      <div
        class="tile"
        data-aos="fade-left"
        data-aos-delay="100"
        data-aos-duration="1000"
      >
        <i class="fa-solid fa-shop"></i>
        <div class="tile-content">
          <h2>Sklepy w pobliżu</h2>
          <p>
            W okolicy znajdują się sklepy spożywcze, apteki, piekarnie
            i&nbsp;punkty usługowe. Wszystko, czego potrzebujesz, dostępne jest
            w&nbsp;kilka minut spacerem.
          </p>
          <hr />
        </div>
      </div>
      <div
        class="tile"
        data-aos="fade-left"
        data-aos-delay="200"
        data-aos-duration="1000"
      >
        <i class="fa-solid fa-road"></i>
        <div class="tile-content">
          <h2>Dobre drogi</h2>
          <p>
            Bliskość głównych arterii komunikacyjnych ułatwia szybki dojazd
            w&nbsp;różne części miasta. Rozbudowana sieć ścieżek rowerowych
            sprzyja także aktywnym formom transportu.
          </p>
          <hr />
        </div>
      </div>
      <div
        class="tile"
        data-aos="fade-left"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        <i class="fa-solid fa-bus"></i>
        <div class="tile-content">
          <h2>Komunikacja publiczna</h2>
          <p>
            W&nbsp;pobliżu znajdują się przystanki autobusowe i&nbsp;tramwajowe.
            Dzięki temu można sprawnie dotrzeć do centrum i&nbsp;innych dzielnic
            miasta.
          </p>
          <hr />
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="image-container" data-aos="fade-left" data-aos-duration="2000">
      <img src="assets/images/image3.png" alt="" style="opacity: 1" />
    </div>
    <div class="list-container">
      <div
        class="tile"
        data-aos="fade-right"
        data-aos-delay="100"
        data-aos-duration="1000"
      >
        <i class="fa-solid fa-leaf"></i>
        <div class="tile-content">
          <h2>Przestrzeń zielona</h2>
          <p>
            Okoliczne parki i&nbsp;tereny rekreacyjne sprzyjają odpoczynkowi
            i&nbsp;aktywności fizycznej. To idealne miejsce na spacery, jogging
            czy relaks z&nbsp;rodziną.
          </p>
          <hr />
        </div>
      </div>
      <div
        class="tile"
        data-aos="fade-right"
        data-aos-delay="200"
        data-aos-duration="1000"
      >
        <i class="fa-solid fa-briefcase"></i>
        <div class="tile-content">
          <h2>Blisko pracy</h2>
          <p>
            Dogodne położenie w&nbsp;pobliżu parków biznesowych i&nbsp;centrów
            biurowych pozwala oszczędzić czas na dojazdach do pracy.
          </p>
          <hr />
        </div>
      </div>
      <div
        class="tile"
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        <i class="fa-solid fa-school"></i>
        <div class="tile-content">
          <h2>Edukacja i&nbsp;szkoły</h2>
          <p>
            W sąsiedztwie osiedla znajdują się szkoły, przedszkola
            i&nbsp;żłobki. Ułatwia to codzienną organizację życia rodzinnego.
          </p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
