<div class="main-container">
  <h2 class="title">Kontakt</h2>
  <h3>
    Masz jakieś pytania? Zainteresowała Cię nasza oferta? Zapraszamy serdecznie
    do kontaktu.
  </h3>
  <div class="content">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d522.046489042996!2d20.010685604890636!3d49.97455424789888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDnCsDU4JzI4LjQiTiAyMMKwMDAnMzguOSJF!5e1!3m2!1spl!2spl!4v1764692576783!5m2!1spl!2spl"
          frameborder="0"
          scrolling="no"
          style="width: 650px; height: 450px"
        ></iframe>
        <style>
          .mapouter {
            position: relative;
            height: 400px;
            width: 650px;
            background: #fff;
          }
        </style>
      </div>
    </div>
    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="contact-form"
    >
      <div class="form-group">
        <label for="name">Imię i nazwisko</label>
        <input type="text" id="name" formControlName="name" required />
      </div>

      <div class="form-group-double">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" required />
        </div>
        <div class="form-group">
          <label for="phone">Telefon</label>
          <input type="tel" id="phone" formControlName="phone" required />
        </div>
      </div>

      <div class="form-group">
        <label for="message">Treść wiadomości</label>
        <textarea id="message" formControlName="message" required></textarea>
      </div>

      <div class="form-group-double">
        <input
          type="checkbox"
          id="privacy-policy"
          formControlName="privacyPolicy"
          required
        />
        <label for="privacy-policy">Zgadzam się z polityką prywatności</label>
      </div>

      <button type="submit" class="submit-button">Wyślij</button>
    </form>
  </div>
  <!-- Dodane informacje kontaktowe -->
  <div class="contact-details">
    <a href="https://www.n20.pl/" target="_blank">
      <img src="assets/icons/n20logoCzarne.png" alt="" />
    </a>
    <div class="info">
      <h2>Kontakt biura nieruchomości</h2>
      <br />
      <p><i class="fa-solid fa-envelope"></i> biuro&#64;N20.pl</p>
      <p><i class="fa-solid fa-phone"></i> +48 12 433 38 78</p>
      <p><i class="fa-solid fa-mobile"></i> +48 790 557 504</p>
      <p><i class="fa-solid fa-mobile"></i> +48 790 557 057</p>
      <p>
        <i class="fa-solid fa-location-dot"></i> Plac Wolnica 13/21, 31-060
        Kraków
      </p>
    </div>
  </div>
</div>
