@import "../../styles.scss";
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  hr {
    border: solid 2px #000;
    margin-top: 15px;
    width: 90%;
  }

  .map-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .left-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;

      .tile-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin: 16px 0;
        border-radius: 8px;
        width: 90%;

        i {
          font-size: 2.5rem;
          width: 10%;
          margin-right: 1rem;
        }

        .tile-left-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          width: 90%;

          h2 {
            font-size: 1.5rem;
            text-align: left;
            margin-top: 0;
            color: #333;
            width: 90%;
          }

          p {
            font-size: 1.1rem;
            text-align: left;
            margin: 0;
            color: #666;
            width: 90%;
          }
        }
      }
    }

    .right-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;

      .tile-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin: 16px 0;
        border-radius: 8px;
        width: 90%;

        i {
          font-size: 2.5rem;
          width: 10%;
          margin-left: 1rem;
        }

        .tile-right-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          width: 90%;

          h2 {
            font-size: 1.5rem;
            text-align: right;
            margin-top: 0;
            color: #333;
            width: 90%;
          }

          p {
            font-size: 1.1rem;
            text-align: right;
            margin: 0;
            color: #666;
            width: 90%;
          }
        }
      }
    }

    .map {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      #grabowki {
        top: 38%;
        left: 40%;
        width: 24%;

        i {
          color: #394032;
          font-size: 1.7vw;
        }
        h3 {
          font-weight: bold !important;
          font-size: 1.3vw;
          color: #394032;
        }
      }

      #szkola {
        top: 0%;
        left: 0%;
      }

      #przystanek {
        top: 53.5%;
        left: 41.5%;
        width: 23%;
      }

      #sklep {
        top: 62%;
        left: 45%;
        width: 22%;
      }

      #zlobek {
        top: 17%;
        left: 80%;
        width: 14%;
      }

      #restauracja {
        top: 85%;
        left: 52%;
        width: 15%;
      }

      #kosciol {
        top: 78%;
        left: 51.5%;
        width: 13%;
      }

      #sport {
        top: 0%;
        left: 0%;
        width: 16%;
      }

      #las {
        top: 12%;
        left: 37%;
        width: 12%;

        #caret-up {
          right: 45%;
        }

        #caret-shadow-up {
          right: 41%;
        }
      }

      .map-item {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: solid 2px #777;
        border-radius: 3px;
        width: 19%;
        height: 7%;
        top: 0;
        left: 0;
        z-index: 5;

        i {
          font-size: 1.5vw;
          margin: 0.2vw;
          color: $primary-color;
        }

        #caret {
          position: absolute;
          top: 25%;
          right: 15%;
          z-index: -5;
          font-size: 3vw;
          color: #fff;
        }

        #caret-up {
          position: absolute;
          bottom: 25%;
          right: 15%;
          z-index: -5;
          font-size: 3vw;
          color: #fff;
        }

        #caret-shadow {
          position: absolute;
          top: 0;
          right: 12%;
          z-index: -6;
          font-size: 4vw;
          color: #000;
        }

        #caret-shadow-up {
          position: absolute;
          bottom: 0;
          right: 12%;
          z-index: -6;
          font-size: 4vw;
          color: #000;
        }

        .item-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          position: relative;
          background-color: white;
          width: 100%;
          height: 100%;
          z-index: 5;
          margin-left: 5px;

          h3 {
            font-size: 0.85vw;
            margin: 0;
            color: #333;
          }

          p {
            font-size: 0.75vw;
            font-weight: bold;
            margin: 0;
            color: #666;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .map {
    display: none !important;
  }

  .left-bar,
  .right-bar {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .map-container {
    flex-direction: column !important;

    .left-bar,
    .right-bar {
      width: 100% !important;
    }

    h2 {
      font-size: 2rem !important;
    }

    p {
      font-size: 1.3rem !important;
    }
  }
}
